html, body {
    margin: 0;
    padding: 0;
}

/* HEADER */

.logo {
    max-height: 250px;
    max-width: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19778a;
    padding: 10px 16px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e992de;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-style: italic;
    letter-spacing: .1rem;
}

/* ABOUT */

.about {
    background-color: #19778a;
    color: #e992de;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

.left-container {
    /* border: solid; */
    padding: 10px 0 10px 50px;
    flex: 1;
}

.about-img {
    display: flex;
    flex: 1;
    /* border: solid; */
    padding: 20px 50px 20px 0;
}

button {
    background-color: #e992de;
    color: #ffffff;
    border: none;
    border-radius: 60px;
    padding: 10px;
}

/* DISCOGRAPHY */

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #19778a;
    text-transform: uppercase;
    letter-spacing: .4rem;
}
.discography {
    /* border: solid; */
    color: #19778a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.album {
    flex: 1;
    max-width: 200px;
    max-height: 200px;
}

.albumn p{
    max-width: 200px;
    font-size: x-small;
}

/* QUOTE */

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    background-color: #d4e9ec;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

.quote p {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}

#author {
    font-size: 20px;
}

/* SIGN UP */

.sign-up {
    display: flex;
    flex: 1;
    margin: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #e992de;
    color: #ffffff;
}

.sign-up-text {
    padding: 10px 0 10px 50px;
}

h5 {
    padding: 0;
}

.sign-up-text p {
    padding: 0;
}

.button-container {
    padding: 20px 50px 20px 0;
}
.button-container button {
    background-color: #e992de;
    border: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 5px 20px 5px 20px;
}

/* FOOTER */

.footer {
    background-color: #19778a;
    display: flex;
    flex: 1;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}